.tww-footer {
    background-color: rgba(0, 0, 0, 0.03);
    border-top: solid 1px rgba(0, 0, 0, 0.09);
}

.tww-footer a {
    color: #1e1c1c;
}

.caret-off::before {
    display: none;
}

.caret-off::after {
    display: none;
}

.btn-no-border {
    border: none;
}

.btn-no-border::hover {
    border: 1px;
}
